{{#files}}
.{{{cssName}}} {
    width: {{width}}rem;
    height: {{height}}rem;
    background: url("{{{spritesheetName}}}.png") -{{x}}rem -{{y}}rem;
	background-size: {{spritesheetWidth}}rem {{spritesheetHeight}}rem;
}

{{/files}}
